@media (min-width: 1026px) {
  .hero-text {
    font-size: 100px;
    text-transform: capitalize;
  }
  .heroImg {
    width: 620px;
  }
}
@media (max-width: 1025px) {
  .hero-text {
    font-size: 60px;
    text-transform: capitalize;
  }
  .heroImg {
    width: 430px;
  }
}
@media (max-width: 400px) {
  .hero-text {
    font-size: 50px;
    text-transform: capitalize;
  }
}
