@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(239 68 68);
}
::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}
